@model KentriosiPhotoContest.MVC.Models.ViewModels.Profile.ProfileViewModel

@{
    ViewBag.Title = "User profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User profile</h2>
<h3>@Model.UserName</h3>